@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Protest Revolution';
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--body-bg);
    background-image: url('./img/bg.jpg');
}
#game{
    position: relative;
    width: 93%;
    height: 100%;
    max-width: 100%;
}
#info{
    position: absolute;
    z-index: 60;
    top: 10px;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.116);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}
#info-item{
    display: flex;
    flex-direction: column;
    height: 98%;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 24%;
}
#popap{
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    background: rgba(0, 0, 0, 0.87);
}
.win{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h3{
    font-size: 24px;
    font-family: Minecraft, sans-serif;
    color: #fff;
    margin-bottom: 25px;
}
#username{
    font-family: Minecraft, sans-serif;
    font-size: 18px;
    outline: none;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}
#start{
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#start:hover{
    background: lightgreen;
}
.basket{
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
    width: 100px;
    bottom: 28px;
    z-index: 60;
}
.fruit{
    top: 0;
    position: absolute;
    transform: translateX(-70%);
    width: 60px;
    background: none;
}
