* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--body-bg);
    transition: background .3s linear;
}
#game-section{
    width: 700px;
    height: 600px;
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
#user-data{
    background: white;
    width: 250px;
    height: 50px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    margin-top: 30px;
    gap: 10px;
}
#play-section{
    width: 680px;
    height: 490px;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
}
#basket{
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 50%;
    position: absolute;
    background: red;
}